/* change styling, placeholders to have render to start from */

.App {
  text-align: center;

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  webkit-background-size: cover;
  max-height: 300em;
  font-family: "Courier";
  color: black;
}

