body {
  text-align: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("https://i.imgur.com/LmM3HeA.jpg?1");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  position: static;
  align-content: center;
  bottom: 0;
  padding-top: 25px;
  color: aliceblue;
}

td {
    max-width: 300;
}

.navbar {
  background-color: white;
  min-height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-inline-start: 55px;
  padding-inline-end: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 1px 1px rgb(0, 110, 129);
  color: darkblue;
}

.navbar:hover {
  color: orangered;
}

.body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

h1 {
  align-items: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgb(0, 14, 206);
}

h2 {
  color: white;
  text-shadow: 1px 1px rgb(139, 0, 0);
}

h3 {
  color: rgba(3, 2, 85, 0.973);
}

h4 {
  color: rgb(12, 24, 136);
}

p {
  color: #057fd0;
}

a:hover {
  color: orangered;
}

.about p {
  color: white;
  font-size: large;
  text-shadow: 1px 1px #057fd0;
}


.user p {
    color: white;
    font-size: large;
    text-shadow: 1px 1px #057fd0;
  }

.welcome_blurb p {
    color: white;
    font-size: large;
    text-shadow: 1px 1px #057fd0;
  }

  .welcome_blurb {
    text-align: center;
    color: white;
    border: grey solid 1px;
    padding: 20px;
    width: 50%;
    height: auto;
    display: inline-grid;
    margin: 20px;
    background-color: #4c667a;
    opacity: 0.85;
    font-size: 24px;
    font-family: "Courier";
    text-shadow: 1px 1px 0 #057fd0;
  }

.user {
  /* align-items: center; */
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: #556b7a;
  margin-left: 200px;
  margin-right: 200px;
  opacity: 0.85;
  padding-top: 25px;
  color: white;
  border: grey solid 1px;
  justify-content: space-evenly;
}

.user_image {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 150px;
  justify-content: space-evenly;
}

.user_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}

.user_bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}

.events_table {
  align-content: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: table-row;
  margin: 5px;
  grid-gap: 8px;
  grid-template-columns: auto auto auto;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgb(196, 17, 91);
  opacity: 0.9;
}

.books_table {
    justify-content: space-evenly;
    background-color: rgb(141, 181, 207);
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 10px;
    color: black;
    opacity: 0.9;
  }

.card_detail {
  background-color: white;
  margin: 10px;
  padding: 5px;
}

.search {
  background-color: rgb(255, 129, 0);
  text-align: center;
  position: relative;
  display: block;
  fill-opacity: inherit;
  opacity: 0.7;
}

.searchWord {
  text-align: center;
  width: 100%;
  border: 3px solid #ff0000;
  padding: 5px;
  height: 5rem;
  border-radius: 5px;
  outline: none;
  font-size: 3rem;
}

.card {
  text-align: center;
  color: aliceblue;
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 19rem;
  height: 23rem;
  display: inline-grid;
  margin: 0.5rem 0.5rem;
  box-shadow: 3px 4px #e04b52;
  box-shadow: 0 0 black;
  background-color: #eec553;
  text-shadow: 1px 1px 0 grey;
}

.about {
  text-align: center;
  color: white;
  border: grey solid 1px;
  padding: 30px;
  width: 50%;
  height: auto;
  display: inline-grid;
  margin: 30px;
  background-color: #4c667a;
  opacity: 0.85;
  font-size: 24px;
  font-family: "Courier";
  text-shadow: 1px 1px 0 #057fd0;
}

.button {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, red 5%, maroon 100%);
  background-color: rgb(238 94 110);
  border-radius: 5px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: bold;
  width: fit-content;
  padding: 6px 24px;
  margin: 6px;
  text-decoration: none;
  display: inline-block;
  align-items: center;
}

.community_button {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, red 5%, maroon 100%);
  background-color: rgb(238 94 110);
  border-radius: 5px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  padding: 3px 14px;
  margin: 3px;
  text-decoration: none;
  display: inline-block;
  align-items: center;
}

.community_button:hover {
  background: linear-gradient(to bottom, darkgrey 5%, navy 100%);
  background-color: #003346;
}

.button:hover {
  background: linear-gradient(to bottom, darkgrey 5%, navy 100%);
  background-color: #003346;
}

.button:active {
  position: relative;
  top: 1px;
}

.authtoggle:hover {
  color: white;
  cursor: ;
}

.auth_container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 250px */
}

.App-link {
  color: #61dafb;
}

.act-now {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100;
}

.donations-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    background-color: rgb(141, 181, 207);
    opacity: .8;
}

.petitions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: rgb(141, 181, 207);
    opacity: .8;
}

.fav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  background-color: rgb(141, 181, 207);
  padding: 2px;
  opacity: .8;
}

.community_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.events_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    padding-bottom: 20px;
    background-color: rgb(141, 181, 207);
    opacity: .8;
}

.community_title {
    background-color: rgb(171, 195, 214);
}

.profile_title {
    background-color: rgb(171, 195, 214);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 2px;
}

.favorites_title {
    background-color: rgb(171, 195, 214);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
    opacity: .8;
    /* padding: 2px; */
}

.resources_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    padding-bottom: 20px;
    background-color: rgb(141, 181, 207);
    opacity: .8;
}

.media_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.books_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    padding: 10px;
    scroll-padding-bottom: 30;
    background-color: rgb(141, 181, 207);
    opacity: .9;
}

.books_collection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(141, 181, 207);
    opacity: .85;
  }

.videos_collection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(141, 181, 207);
    opacity: .85;
  }

  .video {
      width: 350px;
      opacity: 1;
      margin: 10px;
  }

  .twitter_container {
    display: flex;
    flex-direction: row;
    background-color: rgb(141, 181, 207);
    margin-left: 50px;
    margin-right: 50px;
    opacity: .85;
  }

  .timeline {
      max-width: 300px;
      scroll-behavior: initial;
      margin: 20px;
  }

.media_title {
    background-color: rgb(171, 195, 214);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 5px;
}

.bvc {
    margin-bottom: 20px;
}

.quote {
    background-color: red;
}
